In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('sentiment.csv')

In [6]:
df.head()

,code,groups,status,comment
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [5]:
df.rename(columns={'2401':'code','Borderlands':'groups','Positive':'status','im getting on borderlands and i will murder you all ,':'comment'},inplace=True)

In [7]:
df['status'].value_counts()

status
Negative      22542
Positive      20831
Neutral       18318
Irrelevant    12990
Name: count, dtype: int64